<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href=<%= stylePath %> />
  </head>
  <body>
    <h1>Hello from EJS!!!</h1>
    <a href='/about'>about</a>
    <a href='/services'>services</a>
    <a href='/events'>events</a>
    <a href='/scheduling'>scheduling</a>
    <a href='/contact'>contact</a>
    <h2><%= title %></h2>
    <script src=<%= scriptSource %>></script>
  </body>
</html>
